<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>.:Ingresar:. | Villamorra Cinecenter</title>
<link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->
	<div class="full">
			<div class="menu">
				<ul>
					<li><a class="active" href="main"><i class="home"></i></a></li>
					<li><a href="videos.html"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
					<li><a href="reviews.html"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
					{% if user.is_authenticated %}
						<li><a href="/compra"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
					{% endif %}
					<li><a href="contact.html"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
				</ul>
			</div>
<div class="main">
		<div class="header">
			<div class="top-header">
				<div class="logo">
					<a href="index.html"><img src="static/images/logo.png" alt="" /></a>
				</div>
				<div class="search">
					<form>
						<input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						<input type="submit" value="">
					</form>
				</div>
			</div>
			<br><br><br><br><br>
				<body>
	<div class="container">
 		<div style="max-width:400px;margin-left: auto;margin-right:auto">
    		{% if form.errors %}
        		<p>Usuario o Contraseña incorrecta. Favor vuelva a intentar</p>
    		{% endif %}
    		<form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
        		<h3 class="form-signin-heading">Iniciar Sesion</h3>
        		
        		<tr>	
        		<input id="id_{{ form.username.name }}" class="form-control" name="{{form.username.name}}" placeholder="Usuario" required="" type="text"></input>
   				</tr>
   				<br><br>
   				
            	<tr>
            	<input id="id_{{ form.password.name }}" class="form-control" name="{{form.password.name}}" placeholder="Password" required="" type="password"></input>
        		</tr>
        		<br><br>
        		<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
 				<input type="hidden" name="next" value="{{ next }}"/>
 				<br><br>
 				<div class="control-group">
                	<div class="controls">
                    	<a href="/registrar" class="reg">Registrarse</a>
                    </div>
                </div>
 			</form>
    	</div>
 	</div>
 </body>
		</div>
</div>
 <br><br><br>
		{% block content %}
      {% endblock %}
       {% block inicio %}
      {% endblock %}
	<div class="footer">
		
	</div>	
	
	
</body>
</html>